/* Universal content */
html, body {
    overflow-x: hidden;
}
/* Header content */
.navbar.navbar-light.bg-light {
    background-color: #ffffff!important;
    
}
.dropdown .dropdownmenu{
    padding: 20px;
}
.dropdown .dropdown-menu {
    left: -155px;
}

.header {
    min-height: 8em;
}
.header .btn.btn-outline-secondary {
    float: right;
    margin: 20px;
}
.header button::after{
    background: #ffffff;
}
a.navnar-brand img {
    margin-left: 0;
}

/* Main content */

.col-xs-12.col-sm-12.col-md-12.col-lg-12 img {
    max-width: 100%;
    height: auto;
}
.row {
    background: #ffffff;
    min-height: 20em;
    /* padding: 2em; */
}


.row .col-sm-12 {
    text-align: center;
}
.row .col-sm-12 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 40px 0 20px 0;
}
.row .col-sm-12 h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    text-align: center;
}
/* This is the main image */
.col-sm-12 img {
    display: block;
    margin: auto;
    margin-bottom: 2em;
}

.container{
    position: relative;
    width: 100%;
}
.btnboatimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    background-color: rgba(255,255,255,0);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}  

.btnboatimg:hover {
    background-color: rgba(255,255,255,.5);
}

/* Code for the 4 cards */

.cardrow {
    margin-top: 100px;
    margin-bottom: 100px;
}
.card img {
    width: 50%;
    padding: 40px 0 0 0;
    transition: transform .3s;
}
.card img:hover {
    transform: scale(1.1);
}
.card .card-body {
    margin-bottom: 30px;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12 p{
    padding: 20px;
}
/* FORM CONTENT */

#contactcontainer {
    /* border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; */
    padding: 2em;
    text-align: left;
}
#contactcontainer h1 {
    text-align: center;
    padding-bottom: 2em;
    font-size: 36px;    
}
.formactionpage {
    width: 100%;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {

    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background: #7386D5;
      color: #fff !important;
      transition: all 0.3s;
    }
    
    #sidebar.active {
      margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
      padding: 20px;
      background: #6d7fcc;
    }
    
    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }
    
    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color:white;
    }
    
    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
      position: relative;
    }
    
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }
    
    a[aria-expanded="true"]::before {
      content: '\e260';
    }
    
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    
    ul.CTAs {
      padding: 20px;
    }
    
    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    
    a.download {
      background: #fff;
      color: #7386D5;
    }
    
    a.article,
    a.article:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
      width: 80%;
      /* padding: 40px; */
      min-height: 100vh;
      transition: all 0.3s;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
    }
    
    #content.active {
      width: 100%;
      
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
        .wrapper {
            display: none;
        }
      /* #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #content {
        width: 100%;
      }
      #content.active {
        width: calc(100% - 250px);
      }
      #sidebarCollapse span {
        display: none;
      } */
    }